.footer {
    padding: 20px;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socialLinks {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  